<a href="https://colab.research.google.com/github/SDGPTeamX/PregRed/blob/ml_Rashmika/data_cleaning_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#import pandas 
import pandas as pd

In [4]:
datafor = pd.read_csv('pregred_dataset_3.csv')

In [6]:
datafor.head()

   'Blood Sugar'  Haemoglobin  ...  'Blood Pressure'  'Is the newborn healthy?'
0       0.898990     0.648649  ...          0.000000                        Yes
1       0.277778     0.540541  ...          0.000000                        Yes
2       0.444444     0.378378  ...          0.000000                        Yes
3       0.496608     0.591225  ...          0.666667                         No
4       0.444444     0.337838  ...          0.000000                        Yes

[5 rows x 14 columns]

In [7]:
# number of columns and rows
datafor.shape

(1998, 14)

In [8]:
#bottom rows
datafor.tail(15)

      'Blood Sugar'  Haemoglobin  ...  'Blood Pressure'  'Is the newborn healthy?'
1983       0.444444     0.391892  ...          0.000000                         No
1984       0.606061     0.608108  ...          0.000000                         No
1985       0.545455     0.378378  ...          0.000000                         No
1986       0.525253     0.256757  ...          0.000000                         No
1987       0.535354     0.283784  ...          0.000000                         No
1988       0.496608     0.591225  ...          0.000000                         No
1989       0.444444     0.256757  ...          0.000000                         No
1990       0.496608     0.810811  ...          0.000000                         No
1991       0.393939     0.459459  ...          0.666667                         No
1992       0.383838     0.540541  ...          0.000000                         No
1993       0.525253     0.635135  ...          0.000000                         No
1994       0.545455     0.648649  ...          0.000000                         No
1995       0.444444     0.567568  ...          0.000000                         No
1996       0.555556     0.756757  ...          0.000000                         No
1997       0.525253     0.581081  ...          0.000000                         No

[15 rows x 14 columns]

In [9]:
datafor.isnull().sum()

'Blood Sugar'                 0
Haemoglobin                   0
Subfertility=Yes              0
Height                        0
Age                           0
BMI                           0
'Cardiac Diseases=Yes'        0
Gravidity                     0
Consanguinity=Yes             0
'Rubella Immunization=Yes'    0
'Had Folic Acid=Yes'          0
'Thyroid Diseases=Yes'        0
'Blood Pressure'              0
'Is the newborn healthy?'     0
dtype: int64

In [10]:
#data types
datafor.dtypes

'Blood Sugar'                 float64
Haemoglobin                   float64
Subfertility=Yes                int64
Height                        float64
Age                           float64
BMI                           float64
'Cardiac Diseases=Yes'          int64
Gravidity                     float64
Consanguinity=Yes               int64
'Rubella Immunization=Yes'      int64
'Had Folic Acid=Yes'            int64
'Thyroid Diseases=Yes'          int64
'Blood Pressure'              float64
'Is the newborn healthy?'      object
dtype: object